<div style="font-size: 11pt;">
{% set class = objects[0] %}
{% if class.is_class %}

{% for o in class.children %}
{# if o.is_member #}

{% if (protected and o.prot=="protected") or (public and o.prot=="public") or (private and o.prot=="private") %}
{% if o.briefdescription or all %}
{{ o|label }}
<h3>{{o.name}} ({{o.prot}})</h3>
<p>
  <strong>Definition: </strong> {{ o.name }}{{ o.argsstring }}  </br />
  <small><i>{{ o.definition }}</i></small>
</p>
<p>{{ o.briefdescription }}</p>
<p>{{ o.detaileddescription|link_refs }}</p>
{% endif %}
{% endif %}
{# endif #}
{% endfor %}
{% else %}
<div>WARNING! {{ class }} is not a class, but {{ class.type }}.</div>

{% endif %}
</div>
