{% import "concept/_naming.html" as naming %}
{% import "concept/_validexpr_table.html" as table %}

<table style="border: 1px solid #000000;">
{{ table.header() }}

{% for obj in objects %}
{% if obj.is_class %}

{% for o in obj.children %}
{% if public and o.prot=="public" or private and o.prot=="private" %}
{{ table.row(naming.format(o) , o, loop.cycle('odd', 'even') ) }}
{% endif %}
{% endfor %}

{% elif obj.is_function %}

{{ table.row(naming.format(obj) , obj, loop.cycle('odd', 'even') ) }}

{% endif %}
{% endfor %}
</table>
<br />
<br />
